.laracasts-lesson:hover {

  background-color: darken(#333, 6.5%);

}

.laracasts-lesson {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
}

.laracasts-lesson h4 i {
  cursor: pointer;
}